* {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

body {
    background-image: linear-gradient(to top right, rgb(21, 139, 139), rgb(219, 209, 209));
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button.blue-button, input.blue-button {
    background-color: #007bff;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

button.blue-button:hover, input.blue-button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

button.red-button, input.red-button {
    background-color: #dc3545;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

button.red-button:hover, input.red-button:hover {
    background-color: #c82333;
    cursor: pointer;
}

div.main-box section, div.main-box form {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

div.main-box section section, div.main-box section #new-task {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

div.main-box section h1, div.main-box form h1 {
    font-size: 26px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 15px;
    align-content: center;
}